:root {
    /** Dark theme primary colors */
    --clr-primary-a0: #003b57;
    --clr-primary-a10: #274e68;
    --clr-primary-a20: #42627a;
    --clr-primary-a30: #5d778c;
    --clr-primary-a40: #778c9e;
    --clr-primary-a50: #91a2b1;

    /** Dark theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Dark theme tonal surface colors */
    --clr-surface-tonal-a0: #141e26;
    --clr-surface-tonal-a10: #2a333a;
    --clr-surface-tonal-a20: #414950;
    --clr-surface-tonal-a30: #596067;
    --clr-surface-tonal-a40: #73797e;
    --clr-surface-tonal-a50: #8d9297;

    --clr-white-a0: #fff;
    --clr-black-a0: #000;
}

/** Éléments de base */
html, body { width: 100%; height: 100%; margin: 0; cursor: default;
    font-family: Arial, Helvetica, sans-serif; line-height: normal; overflow-x: hidden;
    color: var(--clr-white-a0) ; background: var(--clr-surface-a0); }
div { position: relative; }

br { margin-top: 6px; }
iframe { display: block; width: 95%; height: 650px; border: none; margin: auto; }
/* ul { list-style-type: none; padding: 0; margin: 0; } */
ol { margin-bottom: 0; }
li { margin-top: 6px; }

.img-txt { overflow: hidden; }
.img-txt > img { float: left; width: 180px; margin: 0 10px 6px 0; border-radius: 6px; box-shadow: #000;}
/* .img-txt p { margin: 0 0 8px 0; text-align: justify; }
.img-txt p:last-child { margin-bottom: 0; } */

/** Select Option */
select.title { width: auto; border: none; background-color: var(--clr-surface-a0); color: var(--clr-white-a0); 
    font-size: 40px; font-style: normal; font-weight: bold; text-align: center; }
option.title { border: none; font-size: 35px; font-style: normal; font-weight: bold; text-align: center; }

/** Titres */
h1 { font-size: 40px; font-style: normal; font-weight: bold; }
h2 { font-style: normal; font-weight: bold; font-size: 22px; line-height: 20px; letter-spacing: 1px; }
h3 { font-size: 20px; font-style: normal; font-weight: bold; text-align: center; }
h4 { font-style: normal; font-weight: bold; }

/** Liens */
a{ text-decoration: none; color: var(--clr-surface-a50); transition: color 0.5s ease; cursor: pointer; }
a:hover{ text-decoration: none; color: var(--clr-white-a0); }

/** Navbar */
#navbar { position: fixed; width: 250px; top: 0; left: 0; height: 100%;
    font-size: 16px; background-color: var(--clr-surface-tonal-a0); box-shadow: 0 0 15px var(--crl-black-a0); }
#navbar > h1 { margin: 25px 15px; display: block; }
#navbar > h3 { margin: 25px 15px; display: block; }
#navbar > a { margin: 25px 15px; display: block; }
#navbar > #active { font-weight: bolder; color: var(--clr-white-a0) }

.toggle { display: none; }

/** Container */
.cnt { margin: 0 auto 25px auto; padding: 0; width: 1000px; max-width: 95%; border-radius: 8px; }

.cnt > span { display: block; padding: 0 25px 0 25px; margin: 0 }
.cnt > span > p { margin: 0 0 8px 0; text-align: justify; }
.cnt > span > p:last-child { margin-bottom: 0; }
.cnt > h1 { margin: 0 0 16px 0; text-align: center; padding: 8px 16px; border-radius: 16px;}
.cnt > h2 { margin: 0 0 16px 0; text-align: center; padding: 8px 16px; background: var(--clr-primary-a0); border-radius: 6px 6px 0 0; }

.cnt.small{ width: 250px; }
.cnt.medium { width: 420px; }
.cnt.large { width: 600px; }
.cnt.extra-large { width: 850px; }
.cnt.widest {width: 95%;}

.cnt.fullheight { min-height: 90vh; max-height: 100%; }

.cnt.nomgn { margin: 0; }
.cnt.box { padding-bottom: 16px; background: var(--clr-surface-tonal-a0); box-shadow: 0 0 8px var(--clr-black-a0); }

.cnt.box.modal { box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    transform: translateY(-20px); opacity: 0; transition: transform 0.3s ease, opacity 0.3s ease; }

.modal-overlay.show .cnt.box.modal {
    transform: translateY(0); /* Position normale */
    opacity: 1;
}

.modal-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); display: flex; align-items: center; 
    justify-content: center; z-index: 1000; opacity: 0; visibility: hidden; transition: opacity 0.3s ease, visibility 0.3s ease; }
.modal-overlay.show { opacity: 1; visibility: visible; }

/** Générique quand navbar */
.cnt.content { position: relative; margin: 0 0 0 250px; padding-top: 40px; min-height: 100%;
    box-sizing: border-box; width: auto; }

/** Parcours */
.parcours { text-align: center; }
.parcours > .content { display: inline-block; width: fit-content; padding: 6px; margin: 10px; background-color: var(--clr-surface-a10);
    border: 2px solid var(--clr-surface-a20); border-radius: 6px; transition: 0.2s ease;}
.parcours > .content:hover { background-color: var(--clr-surface-tonal-a20); color: var(--clr-primary-a40); }
.parcours > .content > .text { display: inline-block; margin: 5px 2px; color: var(--clr-white-a0); } 
.parcours > .content > .icon { display: inline-block; margin: 5px 2px; color: var(--clr-primary-a40); }
.parcours > .content > .minf { display: inline-block; margin: 5px 2px; color: var(--clr-white-a0); }
.parcours > .content > .minf:hover { color: var(--clr-primary-a20); }

span.competences-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

.categorie { 
    flex: 1 1 300px;
    background: var(--clr-primary-a10);
    /* padding: 15px; */
    border-radius: 6px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.categorie h3 { margin: 0 0 16px 0; padding: 8px 16px; border-radius: 6px 6px 0 0; box-shadow: 0 14px 15px rgba(0, 0, 0, 0.5) ;
    background: var(--clr-primary-a50); color: var(--clr-primary-a10);  }

.competences-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.competences-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    text-align: center;
}

.competences-list img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 5px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 1));
}

.competences-list img:hover { transition: transform 0.3s ease-out; }

.hover-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--clr-white-a0);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 0;
  }